*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
/*Parte superior*/
.contenedor{
		display: flex;
		flex-flow: column nowrap;
		min-height: 100vh;
}
	/*Inicio de encabezado y del header*/
	.encabezado .encabezado-superior{
		background: #000000;
		display: flex;
		flex-flow:	row nowrap;
		height: 100px;
		align-items: center;
	}
		.logo{
			height: 100px;
		}
		ul, ol {
			list-style:none;
		}
		.nav > li {
			float:left;
		}
		.nav li a {
			background-color:#000;
			color:#fff;
			text-decoration:none;
			padding:10px 12px;
			display:block;
		}
		.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
		}
		.nav li:hover > ul {
				display:block;
		}
	.encabezado .encabezado-superior nav{
			flex: 7 1 auto;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: center;
	}
	.encabezado .encabezado-superior nav a{
				color: #fff;
				font-size: 11px;
				text-transform: uppercase;
				padding:	10px;
				letter-spacing: 2px;
				display: inline-block;
	}
	.encabezado .encabezado-superior nav a:hover{
				color: #4eaff0;
	}
		.container-1{
  		width: 300px;
  		vertical-align: middle;
  		white-space: nowrap;
  		position: relative;
		}
		.container-1 input#search{
  		width: 300px;
  		height: 50px;
  		background: #2b303b;
  		border: none;
  		font-size: 10pt;
  		float: left;
  		color: #63717f;
  		padding-left: 45px;
  		-webkit-border-radius: 5px;
  		-moz-border-radius: 5px;
  		border-radius: 5px;
		}
		.container-1 .icon{
	  	position: absolute;
	  	top: 50%;
	  	margin-left: 17px;
	  	margin-top: 17px;
	  	z-index: 1;
	  	color: #4f5b66;
		}
		.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
	    outline:none;
	    background: #ffffff;
		}
	/*Fin del encabezado y del header*/
	/*Contenido de las páginas*/
		/*Carrusel de avisos*/
		.content-carrousel figure:nth-child(1){transform: rotateY(90deg) translateZ(300px);}
		.content-carrousel figure:nth-child(2){transform: rotateY(180deg) translateZ(300px);}
		.content-carrousel figure:nth-child(3){transform: rotateY(270deg) translateZ(300px);}
		.content-carrousel figure:nth-child(4){transform: rotateY(360deg) translateZ(300px);}
			.content-carrousel img{
				width: 100%;
		  	transition: all 300ms;
			}
			.content-carrousel img:hover{
		  	transform: scale(1.1);
				transition: all 300ms;
			}
			.content-all{
				width: 210px;
				margin: auto;
				perspective: 800px;
				position: relative;
				margin-top: 50px;
			}
			.content-carrousel{
				width: 100%;
				position: absolute;
				animation: rotar 40s infinite linear;
				transform-style: preserve-3d;
			}
			.content-carrousel:hover{
				animation-play-state: paused;
				cursor: pointer;
			}
			.content-carrousel figure{
				width: 100%;
				height: 120px;
				overflow: hidden;
				position: absolute;
				box-shadow: 0px 0px 20px 0px black;
				transition: all 300ms;
			}
			.content-carrousel figure:hover{
				box-shadow: 0px 0px 0px 0px black;
				transition: all 300ms;
			}
			@keyframes rotar {
				from{
						transform: rotateY(0deg);
					}to{
						transform: rotateY(360deg);
					}
			}
		/*Fin de carrusel*/
		/*Título con gifs*/
		.Hola{
				display: flex;
				justify-content: center;
				margin-top: 250px;
			}
			h1{
				text-align: center;
				font-size: 50px;
				font-family: Rockwell;
			}
			.gato{
				height: 150px;
			}
		/*Fin del Título*/
		/*Tablas de Menú*/
		h2{
			text-align: center;
			font-size: 30px;
			font-family: Rockwell;
		}
		h3{
			font-size: 30px;
			font-family: Rockwell;
			text-align: center;
		}
		table{
			border: 5px white solid;
			margin: auto;
		}
		td{
			border-left: 40px white solid;
			border-right: 40px white solid;
		}
		.Menu{
			margin-top: 50px;
			margin-bottom: 50px;
		}
			.Menu img{
				width: 350px;
				height: 250px;
			}
			.Menu .Info{
				width: 350px;
				background-color:#FFE8E5;
				font-family: georgia;
				text-align:center;
				font-size: 30px;
			}
			.Menu img:hover{
				transform: scale(1.2);
				transition: all 300ms;
			}
			.Menu figure{
				box-shadow: 0px 20px 20px 0px black;
				transition: all 300ms;
			}
		/*Mostrar los productos*/
		.contenido{
			flex-direction: column;
			margin-left:100px;
			margin-bottom:60px;
			margin-top:60px;
			align-items:strech;
		}
		.contenido .objeto_1{
			margin-bottom:50px;
		}
		.contenido .objeto_1 img{
			width: 200px;
			height: 150px;
		}
		.si{
			font-family: Rockwell;
			font-size: 18px;
			text-align: justify;
		}
		/*Fin de los productos*/
		/*Fin Menú*/
		/*Carrito,HistorialPedidos,Rastreo vacíos*/
		.carrito{
			width: 30%; height: 150 px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
			.boton{
			margin: 0 auto;
			padding: 5px;
			width: 15%;
			border: thin solid gray;
			display: flex;
			justify-content: space-around;
		}
			.Carrito_compras{
			margin-top:50px;
		}
		/*Fin de las páginas*/
/*Fin de la parte superior*/
/*Parte inferior, pie de página*/
.Final{
	height: 50px;
	margin-bottom: 0px;
}
	.footer{
		background: #000000;
		margin: 0px;
	}
	.footer a{
		color: #000000;
	}
	.footer .principal{
		padding:  20px 50px;
		display: flex;
		flex-flow: row nowrap;
		border-bottom: 2px solid rgba(95, 194, 233, 0.9);
	}
		.opinion{
			color: white;
		}
		.footer .principal .contacto{
			width:100%;
			flex: 1 1 auto;
			padding-left: 30px;
		}
		.footer .principal .contacto a{
			color: #000000);
			background: white;
		}
		.footer .principal .contacto a:hover{
			background: #000000;
			color: white;
		}
		.footer .principal .contacto .redes-sociales{
			display: flex;
			flex-flow: row nowrap;
			padding: 15px;
			font-size: 200%;
		}
		.footer .principal .contacto .redes-sociales a{
			flex: 1 1 auto;
			text-align: center;
			border-radius: 100%;
			padding: 5px;
			width: 100%;
			margin: 5%;
		}
	.footer .derechos{
		padding:  20px 50px;
	}
/*Fin parte inferior, pie de página*/
