<!DOCTYPE html>
<html lang="es" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
					integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<link rel="stylesheet" href="../statics/css/estilo.css">
		<link rel="icon" type="image/ico" href="../statics/img/Prepa.ico" />
		<title>Carrito</title>
	</head>
	<body>
		<div class ="contenedor">
      <header class="encabezado">
        <div class="encabezado-superior">
          <div class="logo">
            <a href="Menu.html"><img src="../statics/img/Cafe.jpg" alt="Cafe"></a>
            <a href="Menu.html"><img src="../statics/img/Banner.jpg" alt="Título"></a>
          </div>
            <nav class="chico"> </nav>
          <nav class="grande">
            <div class="box">
              <div class="container-1">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Search..." />
              </div>
            </div>
            <ul class="nav">
              <li><a href="#"><i class="fas fa-truck" ></i></a>
                <ul>
                  <li><a href="RastreoPedido.html"target="_self">Rastrear Pedidos</a></li>
                  <li><a href="HistorialPedidos.html"target="_self">Historial de Pedidos</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </header>
			<div class="Carrito_compras">
				<img class="carrito"src="../statics/img/triste.gif" alt="Logo ELECTROHOUSE">
				<p align="center"><a> NO TIENES PRODUCTOS EN TU CARRITO :( </a></p>
				<p align="center"><a class="boton" href="Menu.html">Ir a Menú</a></p>
			</div>
    </div>
		<div class="Final">
			<footer class="footer">
				<div class="principal">
					<div class="opinion">
						<figure>
							<form class="opinion" action="" method="post">
								<label for="Opinion">Alguna opinion que desees dejar</label>
									<textarea name="Opinion" style="resize:none"  rows="5" cols="50"></textarea>
								<input type="submit" name="envio" value="Enviar"></input>
							</form>
						</figure>
					</div>
					<div class="contacto">
						<div class="redes-sociales">
							<a href="https://www.facebook.com/prepa6/" target="_blank">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="https://twitter.com/prepa6_unam" target="_blank">
								<i class="fab fa-twitter"></i>
							</a>
							<a href="https://www.instagram.com/explore/tags/prepa6/?hl=es" target="_blank">
								<i class="fab fa-instagram"></i>
							</a>
							</div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
